.Footer {
    margin-top: 100px;
    text-align: center;
    width: 100vw;
    height: 50px;
    margin-bottom: 100px;
}

.Footer__ad {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.Footer__ad:hover {
    opacity: 0.5;
}