.Heading {
    font-size: 24px;
    font-weight: 700;   
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

.Heading--max {
    font-size: 30px;
    font-weight: 800;   
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
}


@media screen and (min-width: 600px) {
    .Heading {
        margin-top: 10px;
        font-size: 30px;
    }

    .Heading--max {
        margin-top: 10px;
        font-size: 40px;
        margin-bottom: 20px;
    }
}